<!-- usuarios/templates/usuarios/user_detail.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalles de Usuario</title>
</head>
<body>
    <h1>Detalles de Usuario</h1>
    <p><strong>Nombre de Usuario:</strong> {{ user.username }}</p>
    <p><strong>Nombre:</strong> {{ user.first_name }}</p>
    <p><strong>Apellido:</strong> {{ user.last_name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Edad:</strong> {{ user.edad }}</p>
    <a href="{% url 'user_update' user.pk %}">Editar</a>
    <form action="{% url 'user_delete' user.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Eliminar">
    </form>
    <a href="{% url 'user_list' %}">Volver al listado de usuarios</a>
</body>
</html>